.mobile-menu {
    display: none;
}

.main-menu-item {
    text-decoration: none;
    list-style-type: none;
    color: var(--white);
    margin-left: 1em;
    margin-right: 1em;
    padding: 0.3em 1em;
}

.main-menu-item:hover {
    color: var(--background);
    border-radius: 5px;
    background: linear-gradient(
            135deg,
            var(--accent) 25%,
            var(--darker-yellow) 25%,
            var(--darker-yellow) 50%,
            var(--accent) 50%,
            var(--accent) 75%,
            var(--darker-yellow) 75%,
            var(--darker-yellow));
    background-size: 30px 30px;
}

.active {
    color: var(--background);
    border-radius: 5px;
    background: linear-gradient(
            135deg,
            var(--accent) 25%,
            var(--darker-yellow) 25%,
            var(--darker-yellow) 50%,
            var(--accent) 50%,
            var(--accent) 75%,
            var(--darker-yellow) 75%,
            var(--darker-yellow));
    background-size: 30px 30px;
}

@media screen and (max-width: 820px) {
    .menu {
        display: none;
    }

    .mobile-menu {
        display: block;
    }

    .mobile-menu-item {
        text-decoration: none;
        list-style-type: none;
        color: var(--white);
        margin-left: 1em;
        margin-right: 1em;
        padding: 0.3em 1em;
    }

    .mobile-menu-item:hover {
        color: var(--accent);
    }

    .mobile-menu-item {
        list-style-type: none;
        padding: 12px;
    }

}