@import url("./grid/grid.css");
@import url("./flex/flex.css");

/*====================================================================================================================*/
/* WIDTHS */

.w-fill {
    width: -webkit-fill-available;
}

.w-100 {
    width: 100%;
}

.w-75 {
    width: 75%;
}

/*====================================================================================================================*/
/* HEIGHTS */

.h-full {
    height: 100%;
}

/*====================================================================================================================*/


/*====================================================================================================================*/
/* MARGINS */

.ml-sm {
    margin-left: 0.5em;
}

.ml-1 {
    margin-left: 1em;
}

.ml-2 {
    margin-left: 2em;
}

.ml-lg {
    margin-left: 4em;
}

.mb-sm {
    margin-bottom: 0.5em;
}

.mb-1 {
    margin-bottom: 1em;
}

.mr-1 {
    margin-right: 1em;
}

.mr-2 {
    margin-right: 2em;
}

.mr-lg {
    margin-right: 4em;
}

.mt-sm {
    margin-top: 0.5em;
}

.mt-2 {
    margin-top: 2em;
}

.mt-1{
    margin-top: 1em;
}

/*====================================================================================================================*/
/* PADDING */

.p-sm {
    padding: 0.5em;
}

.pb-sm {
    padding-bottom: 0.5em;
}

.pt-sm {
    padding-bottom: 0.5em;
}

.pt-lg {
    padding-top: 2em;
}

.pl-1 {
    padding-left: 1em;
}

.pr-1 {
    padding-right: 1em;
}

/*====================================================================================================================*/
/* COLORS */

.accent {
    color: var(--accent);
}

/*====================================================================================================================*/
/* BORDERS */

.border-btm {
    border-bottom: 2px solid var(--accent);
}

@media screen and (max-width: 820px) {
    .mr-lg {
        margin-right: 2em;
    }

    .ml-lg {
        margin-left: 2em;
    }
}