.App {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-top: 1em;
  }
  
  .slider-container {
    display: grid;
    grid-template-columns: 1fr 95% 1fr; 
    grid-template-rows: 1fr; 
    position: relative;
    height: auto;
    overflow: hidden;
  }
  
  .slider {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2; 
  }
  
  .slider-image {
    width: 100%;
    height: auto;
    max-height: 500px; 
    object-fit: cover;
  }
  
  button {
    border-radius: 50%;
    z-index: 1; 
  }
  
  
  
  .prev {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  
  .next {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  